:root {
    --color-theme-1: rgba(69, 127, 150, 0.432);
    --color-theme-2: rgb(0, 49, 112);
    --color-white: white;
    --color-black: black;
    --font-color-theme-1: Black;
    --font-color-theme-2: white;
    --broder-light: 0;
    --invert: brightness(0) invert(0);
    --gradient:radial-gradient(100% 100% at 100% 0, #5adaff 0, var(--color-theme-2) 100%);
}

[data-theme="dark"] {
    --color-theme-1: rgb(0, 0, 0);
    --color-theme-2: rgb(0, 49, 112);
    --color-white: black;
    --color-black: white;
    --font-color-theme-1: white;
    --font-color-theme-2: black;
    --broder-light: 2px solid white;
    --invert: brightness(0) invert(1);
    --gradient:radial-gradient(100% 100% at 100% 0, #4a5255 0, var(--color-theme-2) 100%);
}

body {
    margin: 0;
}
* {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

.flex-container {
    display: flex;
}

#page-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 280px 4fr 1fr;
    grid-template-rows: 150px 200px 200px auto;
}

/* Header Section */

#header-container {
    display: grid;
    grid-area: 1/2/2/4;
    grid-template-rows: 1fr 1fr;
    padding-top: 15px;
    color: var(--color-black);
    background-color: var(--color-white);
}

#upper-header {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
}

#search-bar {
    display: grid;
    grid-template-columns: 30px auto;
    padding-left: 20px;
    align-self: center;
    align-items: center;
}

#search-input {
    height: 30px;
    border: 1px solid var(--color-black);
    border-radius: 25px;
    padding-left: 20px;
    background-color: var(--color-theme-1);
    color: var(--color-black);
}

#profile-link {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

#lower-header {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    font-weight: bolder;
}

#filter-container {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 20px;
}

#sort-container {
    text-align: center;
}

#add-container {
    text-align: center;
}

#add-container>button {
    height: 35px;
    width: 110px;
    border-radius: 20px;
    background-color: var(--color-theme-2);
    color: white;
    font-weight: bolder;
    align-items: center;
    background-image: var(--gradient);
    border: 0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    cursor: pointer;
    justify-content: center;
    list-style: none;
    transition: box-shadow .15s,transform .15s;
    white-space: nowrap;
    font-size: 18px;
}

/* Left Menu Section */

#left-container {
    display: grid;
    background-image: var(--gradient);
    color: white;
    grid-area: 1/1/5/2;
    grid-template-rows: 150px 550px auto;
}

#logo {
    align-content: center;
}

#side-menu {
    display: grid;
    font-size: 20px;
}

.spacer {
    padding-top: 50px;
}

.left {
    justify-self: center;
    align-self: center;
}

.right {
    align-self: center;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
}

.menu-item>p {
    margin: 0;
}

/* Hero Section */

#hero-container {
    display: grid;
    background-color: var(--color-theme-1);
    grid-area: 2/2/5/3;
    grid-template-rows: 80px auto auto; 
    min-width: 300px;
    overflow: auto;
    color: var(--color-black);
}

#hero-card-container {
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 300px));
    gap: 25px;
    padding: 0px 25px;
    overflow-y: auto;
}

#hero-card-container::-webkit-scrollbar { 
    display: none;
} 

#hero-title>h1 {
    padding-left: 25px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.books {
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px 20px;
    border: var(--broder-light);
}

.book-title {
    font-size: 20px;
    font-weight: bolder;
    margin: 0%;
}

/* Rigth Container Section */

#right-container {
    display: grid;
    background-color: var(--color-theme-1);
    grid-area: 2/3/5/4;
    grid-template-rows: 60px auto;
    min-width: 200px;
    color: var(--color-black);
}

#log-container {
    display: flex;
    background-color: var(--color-white);
    margin: 10px;
    margin-right: 25px;
    border-radius: 10px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: var(--broder-light);
}

#log-card {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

#log-title>h2 {
    margin-top: 30px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

#log-container a {
    font-size: 15px;
    color: var(--color-black);
    text-decoration: underline;
}

/* Icons and Pictures */

.icon {
    height: 20px;
    filter: brightness(0) invert(1);
    cursor: pointer;

}

.icon-or {
    height: 20px;
    cursor: pointer;
    filter: var(--invert);
}

.profile-img {
    height: 55px;
    cursor: pointer;
}

.logo-img {
    height: 50px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}
  
/* Rounded sliders */
    .slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Book Adding Screen */

#book-add-screen {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s; 
}
  
#page-container.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}